fastapi>=0.115.12,<1
uvicorn>=0.34.0,<1
gunicorn>=23.0.0,<24
httptools>=0.6.4,<1
uvloop>=0.21.0,<1 ; sys_platform != "win32"
winloop>=0.1.8,<1 ; sys_platform == "win32"
asyncpg>=0.30.0,<1
SQLAlchemy>=2.0.41,<3
sqlalchemy-cockroachdb>=2.0.2,<3
numpy>=2.2.6,<3
scipy>=1.15.3,<2
PyYAML>=6.0.2,<7
orjson>=3.10.18,<4
aiohttp[speedups]>=3.12.11,<4
yarl>=1.20.0,<2
valkey[libvalkey]>=6.1.0,<7
